{% extends 'base.html' %}
{% block title %}Register your OAuth client{% endblock %}
{% block content %}

<h1>🤖 Register your OAuth client</h1>
<div>
    <form action="{{ url_for('client_register') }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" placeholder="My client" required>

        <label for="redirect_uri">Redirect URIs:</label>
        <textarea class="form-control" name="redirect_uris" placeholder="https://example.com/oauth2callback&#10https://example.com/oauth2callback2" required></textarea>

        <button type="submit" class="btn mt-2 btn-primary">Submit</button>
    </form>

    <div class="mt-3"></div>
    <h2>📝 Your registerd clients:</h2>
            {% for client in clients %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ client.client_name }} </h5>
                    <p class="card-text">Client ID: {{ client.client_id }}</p>
                    <p class="card-text">Client Secret: {{ client.client_secret }}</p>
                    <p class="card-text">Redirect URI: {{ client.redirect_uris }}</p>
                    <p class="card-text">Issued at: {{ client.client_id_issued_at }}</p>
                    <a href="#" class="btn btn-danger">🗑 Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>

</div>

{% endblock %}