{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<div>
    <h1>🤵 Profile</h1>
    <div class="mt-5" style="display: flex;">
        <img src="{{ url_for('static', filename='profile.png') }}" alt="Profile" class="img-thumbnail" style="width: 200px; height: 200px;">
        <div class="container">
            <h3>Information</h3>
            <p>ID: {{ current_user.id }}</p>
            <p>Username: {{ current_user.username }}</p>

        </div>
    </div>
    <div class="mt-5">
        TBD
    </div>
</div>
    
{% endblock %}
    
