{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div>
    <form action="{{ url_for('signup') }}" method="POST">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required>
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
